<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Add Store </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>

<h1> Add game to the database </h1>

<form action = "#" th:action = "@{/games/add}" th:object = "${game}" method = "post">
    <p>Name: <input type="text" th:field="*{name}"/> </p>
    <p>Release Date: <input type="text" th:field="*{releaseDate}"/></p>
    <p>Description: <input type="text" th:field="*{description}"/></p>
    <p>Image URL: <input type="text" th:field="*{imageUrl}"/></p>
    <p>Platform: <input type="text" th:field="*{platform}"/></p>
    <p>Publisher: <input type="text" th:field="*{publisher}"/></p>
    <p>Developer: <input type="text" th:field="*{developer}"/></p>
    <p>Rating: <input type="text" th:field="*{rating}"/></p>
    <p>Price: <input type="text" th:field="*{price}"/> </p>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset"/> </p>
</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>